<% provide :title, t("lessons.lesson") %>
<div class="row">
  <section>
    <% if @lesson.is_completed? %>
      <h5><%= t "lessons.exam_date" %> <%= @lesson.created_at.to_date() %>
      </h5>
      <h5><%= t "lessons.lesson_score" %><span id="link">
      <%= @lesson.results.is_corrects.count %>/
      <%= @lesson.results.count %></span>
      </h5>
      <h1>
        <%= t "lessons.lesson" %>
        <%= @lesson.id %>
      </h1>
      <hr>
      <%= render "show_result" %>
    <% else %>
      <%= render "form" %>
    <% end %>
  </section>
</div>
