<%= provide :title, t("views.categories.index.list_category") %>
<h1><%= t "views.categories.index.list_category" %></h1>
<%= will_paginate @category %>
<ul class="categories">
  <% @category.each do |category| %>
    <li>
      <h3><%= category.name %><h3>
      <center>
        <%= link_to t("views.categories.index.start_lesson"), "#",
          class: "btn btn-lg btn-primary" %>
        <%= link_to t("views.categories.index.edit"), "#",
            class: "btn btn-primary" %>
        <%= link_to t("views.categories.index.delete"), category, method: :delete,
            data: {confirm: t("views.categories.index.flash_message_delete_category")},
            class: "btn btn-danger" %>
      </center>
    </li>
  <% end %>
</ul>
<%= will_paginate @category %>
